:root {
  --typeLyrics: "Lato", sans-serif;
  --backgroundBox: #672732;
  --title: #ffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--typeLyrics);
  background-color: #000000;
  height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 6px solid azure;
  border-radius: 100%;
  position: relative;
}
.clock:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ff4040;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock__second {
  content: "";
  width: 6px;
  height: 80px;
  background-color: #d5211b;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: bottom;
  animation: timeIcon 12s cubic-bezier(0.95, -1.5, 0.285, 1.85) infinite;
}

.clock__minute {
  content: "";
  width: 6px;
  height: 75px;
  background-color: #e9e941;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: bottom;
  animation: timeIcon 12s cubic-bezier(0.95, -1.5, 0.285, 1.85) infinite;
}
.clock__hour {
  content: "";
  width: 6px;
  height: 70px;
  background-color: #16ce28;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: bottom;
  animation: timeIcon 12s cubic-bezier(0.95, -1.5, 0.285, 1.85) infinite;
}

.digitalClock {
  color: azure;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dHour {
  color: #16ce28;
}
.dMinute {
  color: #e9e941;
}
.dSecond {
  color: #d5211b;
}
