:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data__img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.data__speed {
  font-weight: 700;
  font-size: 4rem;
}
