:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
  background-color: chocolate;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.field,
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

label{
  font-weight: 700;
  font-size: 1.3rem;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-style: none;
}
input:focus {
  outline: none;
}

.card {
  border: 1px solid white /*  */;
  padding: 0.5rem 1rem;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__title,
.card__price {
  padding: 0;
  margin: 0;
}

.card__title {
  font-weight: 700;
}

.card__price {
  font-weight: 300;
}
