:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

img,
video {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.hero {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  color: white;
  font-size: 4rem;
}

.sticky {
  background-color: black;
  position: sticky;
  top: 0;
}

.sticky__opt {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 765px) {
  .sticky__opt {
    flex-direction: row;
  }
}

.sticky a {
  padding: 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  width: 100%;
  transition: background-color 250ms ease-in-out;
  text-align: center;
}

.sticky a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.words {
  background-color: white;
  padding: 2rem;
  margin: 5rem 0;
}

a:first-child {
  background-color: white;
  color: black;
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0px 0px 10px white;
  transform: translateX(-600%);
  transition: transform 1s ease-in-out;
}

@media (min-width: 765px) {
  a:first-child {
    max-width: 0;
    transform: translateX(-200%);
  }
}

a:hover:first-child {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.show {
  max-width: 100% !important;
  transform: translateX(0) !important;
}
