:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}

img,
video {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.hero {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  color: white;
  font-size: 4rem;
}

.sticky {
  background-color: black;
}

.sticky__opt {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 765px) {
  .sticky__opt {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.sticky a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}

.words {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 5rem 0;
}
