:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
  background-color: #f9a03f;
}

img,
video {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  padding: 0;
  margin: 2rem auto;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

h5 {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  margin: 5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

@media (min-width: 765px) {
  .game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.hole {
  background-image: url("../img/floor.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  position: relative;
}

.mole {
  opacity: 0;
  position: absolute;
  bottom: 0;
  background-image: url("../img/castor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 500ms ease-in-out;
  cursor: pointer;
}

.showmole {
  opacity: 1;
  transition: transform 500ms ease-in-out;
  transform: translateY(-50%);
  height: 4rem;
  width: 4rem;
}

.btnstart {
  margin: 2rem auto 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  font-weight: 700;
  cursor: pointer;
}

.btnstart:hover {
  border: 1px solid black;
}

.hidden {
  display: none;
}

.animationbtn {
  animation-name: animation;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    border: 1px solid black;
  }
}

.level2 {
  background-color: #d45113;
}

.level3 {
  background-color: #813405;
}
