:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}

img,
video {
  max-width: 100%;
  display: block;
}

h1 {
  text-align: center;
}

body{
  background-color: greenyellow;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 765px) {
  .nav {
    flex-direction: row;
  }
}

.nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
  