:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
  overflow: hidden;
}

img,
video {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.items {
  margin: 2rem 0;
  padding: 5rem 0;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.item {
  padding: 0;
  margin: 0;
  width: 10rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  border: 5px solid rgba(0, 0, 0, 0.5);
}

.item:nth-child(even) {
  transform: perspective(50rem) rotate3d(0, 1, 0, 60deg);
}

.item:nth-child(odd) {
  transform: perspective(50rem) rotate3d(0, -1, 0, 60deg);
}
