:root {
  --typeLyrics: "Lato", sans-serif;
  --blur: 5px;
  --color: rgb(216, 209, 23);
  --border: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}

.panels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 765px) {
  .panels {
    flex-direction: row;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  border: 1px solid black;
  height: 13rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 765px) {
  .panel {
    height: 100vh;
  }
}

.panel:nth-child(1) {
  background-image: url("../img/ice.jpg");
}
.panel:nth-child(2) {
  background-image: url("../img/aurora.jpg");
}

.panel:nth-child(3) {
  background-image: url("../img/happy.jpg");
}

.panel:nth-child(4) {
  background-image: url("../img/fox.jpg");
}

.panel:nth-child(5) {
  background-image: url("../img/cloud.jpg");
}
