:root {
  --typeLyrics: "Lato", sans-serif;
  --blur: 5px;
  --color: rgb(216, 209, 23);
  --border: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}
