:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}

.panels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 765px) {
  .panels {
    flex-direction: row;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  height: 13rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: flex-basis 500ms ease-in-out;
}

@media (min-width: 765px) {
  .panel {
    width: initial;
    flex: 1 0 0;
    height: 100vh;
  }
}

.panel:nth-child(1) {
  background-image: url("../img/ice.jpg");
}
.panel:nth-child(2) {
  background-image: url("../img/aurora.jpg");
}

.panel:nth-child(3) {
  background-image: url("../img/happy.jpg");
}

.panel:nth-child(4) {
  background-image: url("../img/fox.jpg");
}

.panel:nth-child(5) {
  background-image: url("../img/cloud.jpg");
}

.panel__effect {
  flex-basis: 20%;
}

.panel p {
  padding: 0.5rem 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  transition: transform 500ms ease-in-out, font-size 500ms ease-in-out;
}

.downUp {
  transform: translate(0rem) !important;
}

.growUp {
  font-size: 3rem !important;
}

@media (min-width: 765px) {
  .panel p:nth-child(1) {
    transform: translateY(-30rem);
  }

  .panel p:nth-child(3) {
    transform: translateY(30rem);
  }
}
