:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  margin: 2rem 0 0;
  border: 1px solid red;
}

.hero h2 {
  font-size: 5rem;
}