:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
}

img,
video {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.one {
  background-color: plum;
  width: 50rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

.two,
.four {
  background-color: blanchedalmond;
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three,
.five {
  background-color: orange;
  width: 30rem;
  height: 10rem;
}
