:root {
  --typeLyrics: "Lato", sans-serif;
  --blur: 0.2rem;
  --color: rgb(216, 209, 23);
  --border: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--typeLyrics);
  background-color: black;
  color: white;
  height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  width: 50rem;
  object-fit: cover;
}

.title__lyrics {
  color: var(--color);
}

.img {
  margin: 1rem;
  border: var(--border) solid var(--color);
}

.img img {
  filter: blur(var(--blur));
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
