:root {
  --typeLyrics: "Lato", sans-serif;
  --backgroundBox: #672732;
  --title: #ffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--typeLyrics);
  height: 100vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
