:root {
  --typeLyrics: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: var(--typeLyrics);
  background-color: black;
  color: white;
}

img,
video {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.panel {
  margin: 5rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel__clock {
  color: transparent;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(56, 216, 228, 1) 0%,
    rgba(192, 0, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 5rem;
}

.panel__text {
  font-weight: 700;
  font-size: 1.2rem;
}

.form {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.01) 0%,
    rgba(56, 216, 228, 1) 0%,
    rgba(192, 0, 255, 1) 100%
  );
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

input[type="text"] {
  border-radius: 1rem;
  padding: 1rem;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}
